h1 {
	color: green;
	text-align: center;
	margin-bottom: 50px;
	font-size: 2em;
	margin-top: 5%;

}

.row {
	width:100%;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	
}	

 h2 {
	text-align: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	margin: 0px;
	margin-bottom: 15px;
	width:33%;
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
	float: right;
	

}

#See{
	background-color: pink;

}

#Hear{
	background-color: red;
	color: white;
}

#Speak{
	background-color: yellow;
}


.col {
	background-color: silver;
	width:31.2%;
	border: 1px solid black;
	padding-top: 0px;
	margin: 3%;
	float: left;
	position: relative;
}

.info{
	padding: 50px 10px 5px 20px;
}


/*Large Devices Only*/
@media (min-width: 992px){
	.col{
		margin:1%;
		float: left;
		width:31.3%;
	}
}

/*Medium Devices Only*/
@media (min-width: 768px) and (max-width: 991px){
	.col{
		float:left;
		width:44%;
	}
	.col2{
		float:left;
		width:94%;
	}
}

/*Small Devices Only*/
@media (max-width: 767px){
	.col{
		width:95%;
	}
}
